<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon
          color="accent"
          mat-list-icon
          class="chevron-button"
          [ngClass]="{ rotated: isExpanded }"
          >chevron_right</mat-icon
        >
      </mat-list-item>
      <!--
       The general module link, all children can be found in GENERAL module
      -->
      <mat-list-item [routerLink]="'gnrl'">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">HOME</span>
      </mat-list-item>
      <!--
       The general module link, all children can be found in CLAIM-APP module
      -->
      <mat-list-item [routerLink]="'claims'">
        <mat-icon mat-list-icon>headset_mic</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">CLAIM-APP</span>
      </mat-list-item>

      <!--
       The general module link, all children can be found in CLAIM-APP module
      -->
      <mat-list-item [routerLink]="'reports'">
        <mat-icon mat-list-icon>receipt_long</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">REPORTS</span>
      </mat-list-item>
      <!--
       END OF MENU ITEMS
      -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
