/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.base-site-cntnr {
  margin: 10px;
  padding: 10px;
}
.menu-button {
  margin: 5px;
  height: 22px;
}
.mat-toolbar-single-row {
  height: 42px;
}
.mat-mdc-menu-item {
  min-height: 24px;
}
.main-home-icon {
  color: #fabe00;
  margin-right: 22px;
  cursor: pointer;
}
